@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #252525;
}

:root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* * {
    border: 1px rgba(0, 128, 0, 0.133) solid !important;
} */

button {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    color: #252525;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: auto;
}

p {
    max-width: 14rem;
    margin: 1rem auto;
    line-height: 1.35;
    color: #252525;
}

@media (min-width: 480px) {
    h1 {
        max-width: none;
    }
    p {
        max-width: none;
    }
}